*{
    margin: 20px;
    background-color: gray;
}

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}

.translate{
    transform: perspective(100px) translateZ(-40px);
}

.rotate{
    transform: rotateZ(300deg);
}

.scale{
    margin-left: 100px;
    transform: perspective(300px) scaleZ(10) rotateY(30deg);
}