@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 78vh;
    position: relative;
}

.main .box {
    height: 78vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* height: 10px; */
}

nav img {
    color: red;
    width: 140px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    /* font-family: 'Martel Sans', sans-serif; */
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero-buttons button {
    cursor: pointer;
}


/* > = Immediate symbol (immediate child) */
.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: #232323;
}

.btn {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    padding: 5px 24px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red-sm {
    color: #ffffff;
    background-color: red;
}

.btn-red {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    background-color: red;
    padding: 10px 17px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 6px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    padding: 18px 137px 18px 25px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    height: 60vh;
}

.secImg {
    position: relative;

}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 1;
}

.secImg video {
    position: absolute;
    top: 51px;
    /* right: 0; */
}

section.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.faq {
    background-color: RGBA(0, 0, 0, 0);
    color: RGB(255, 255, 255);
    padding: 30px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faqbox {
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    padding: 21px;
    font-size: 24px;
    font-weight: 500;
    max-width: 64vw;
    margin: 21px auto -12px;
}

.faqbox:hover {
    background-color: #414141;
    cursor: pointer;
}

.zero {
    /* border: 2px solid red; */ 
    margin: 49px auto;
    /* font-family: 'Martel Sans', sans-serif; */
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* position: relative; */
    gap: 15px;
    /* padding: 0px 30px; */
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;

}

.zero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.zero-buttons button:hover{
    cursor: pointer;
}

.zero-buttons input {
    font-size: 16px;
    line-height: 24px;
    /* font-weight: 400; */
    color: white;
    border: 1px solid white;
    background-color: #0F0F0F;
    padding-left: 15px;
    padding-right: 155px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

.zero-buttons input::placeholder{
    color: rgb(224, 224, 224);
}
