*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 25%;
}

#jc{
    border: 2px solid red;
    height: 50px;
    margin-top: 5px;
    text-align: center;
}

#ai{
    position: relative;
    border: 2px solid green;
    height: 50px;
    transform: rotate(90deg);
    top: 34%;
    left: 40%;
    text-align: center;
}

h2{
    text-transform: uppercase;
}